.kpay-transfer-wapper {
  display: flex;
  justify-content: space-around;
  .kpay-transfer-content {
    width: 348px;
    height: 380px;
    padding: 24px;
    padding-right: 0;
    margin-top: 24px;
    background: #fff;
    border: 1px solid #E8E8E8;
    box-shadow: 0 2px 20px 0 rgba(0,0,0,0.05);
    border-radius: 8px;
    .kpay-transfer-search {
      width: 300px;
      height: 38px;
      margin-bottom: 12px;
      border-radius: 8px;
    }
  }

  .kpay-transfer-operation-wapper {
    display: flex;
    align-items: center;
    .kpay-transfer-operation {
      width: 0;
      height: 0;
      border-left: 9px solid #333;
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
      opacity: 0.4;
    }
  }

  .kpay-transfer-breadcrumb {
    margin-bottom: 26px;
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;
    color: #FFA400;
    :global {
      .ant-breadcrumb {
        width: 280px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

.kpay-transfer-list {
  width: 120px;
  max-height: 200px;
  overflow-y: auto;
  border-radius: 8px;
  background: #fff;
  border: 1px solid #e8e8e8;
  padding: 8px;
  .kpay-transfer-list-item {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #fff;
    cursor: pointer;
    &:hover {
      background: #F7F7F7;
    }
    &:active {
      background: rgba(255,164,0,0.10);
      border: 1px solid #FFA400;
    }
  }
}

.kpay-transfer-checkbox-wapper {
  height: 254px;
  overflow-x: hidden;
  overflow-y: auto;
  white-space: nowrap;
  .kpay-transfer-checkbox-grp {
    width: 100%;
    padding-right: 17px;
    .kpay-transfer-checkbox {
      margin-bottom: 24px;
    }
  }
}

.kpay-transfer-person {
  :global {
    .ant-checkbox-wrapper {
      .ant-checkbox {
        position: relative;
        top: 5px;
      }
    }
  }
}

.kpay-transfer-checkbox {
  :global {
    .ant-checkbox-wrapper-disabled, .ant-checkbox-disabled + span {
      color: @text-color;
      cursor: default;
    }
    .ant-checkbox-disabled {
      display: none;
    }
  }

  display: flex;
  justify-content: space-between;
  .kpay-transfer-checkbox-label {
    display: flex;
    align-items: center;
    width: 222px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .kpay-transfer-person-avatar {
    width: 32px;
    height: 32px;
    margin-right: 12px;
    background: @primary-color;
    border-radius: 50%;
  }
}

.kpay-transfer-checkbox-btn {
  display: flex;
  align-items: center;
  height: auto;
  padding: 0;
}

.kpay-transfer-disable-btn {
  color: #AFADAB;
  cursor: default !important;
}

.kpay-transfer-checkbox-right {
  width: 0;
  height: 0;
  border-left: 7px solid #333;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  opacity: 0.4;
}

.kpay-transfer-right-content {
  width: 348px;
  height: 380px;
  padding: 24px;
  padding-right: 0;
  margin-top: 24px;
  background: #fff;
  border: 1px solid #E8E8E8;
  box-shadow: 0 2px 20px 0 rgba(0,0,0,0.05);
  border-radius: 8px;
  .kpay-transfer-right-wapper {
    height: 330px;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: nowrap;
  }
  .kpay-transfer-right-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 17px;
    margin-bottom: 24px;
  }
  .kpay-transfer-right-btn {
    width: 24px;
    height: 24px;
    padding: 7px;
    background-color: #f7f7f7;
    border-radius: 50%;
  }
}
