.categoryListWrap {
  padding: 24px 24px 4px 24px;

  .searchForm {
    min-height: 86px;
    max-height: 148px;
    margin-bottom: 16px;
    padding: 0 24px 24px 24px;
    background: #fff;
    border-radius: 8px;

    .searchWrap {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;

      & > div {
        margin-top: 24px;
      }

      .searchBtnGroup {
        display: flex;
        flex: 1 208px 208px;
        justify-content: flex-end;

        button {
          width: 74px;
        }
      }

      input {
        height: 38px;
        border: 1px solid #d9d9d9;
        border-radius: 4px;
      }

      :global {
        .ant-form-item {
          flex: 1 0 auto;
          margin-bottom: 0;

          label {
            height: 38px;
          }

          label::before {
            display: none;
          }

          label::after {
            margin: 0 14px 0 2px;
          }
          &:first-child {
            margin-right: 40px;
          }
        }
      }
    }

    .cancelBtn,
    .sumbitBtn {
      height: 34px;
      padding: 6px 19px;
      font-size: 14px;
      line-height: 22px;
      text-align: center;
      border-radius: 4px;
    }

    .cancelBtn {
      margin-right: 16px;
      color: #262626;
      border: 1px solid #d9d9d9;
    }

    .sumbitBtn {
      color: #ffffff;
      background-color: #ffa21a;
      border: 1px solid #ffa21a;
    }
  }

  .scrollableDiv {
    width: 100%;
    height: calc(~'100vh - 56px - 126px - 52px');
    overflow: -moz-scrollbars-none;
    // padding: 16px;
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;

    .tips {
      color: #afadab;
      font-size: 14px;
      line-height: 20px;
    }

    :global {
      .infinite-scroll-component {
        overflow: -moz-scrollbars-none;
        overflow-x: hidden;
        overflow-y: scroll;
        -ms-overflow-style: none;
      }
      .infinite-scroll-component::-webkit-scrollbar {
        width: 0;
      }
      .ant-list-empty-text {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: calc(~'100vh - 56px - 126px - 52px');
      }

      @media (max-width: 1199px) {
        .ant-list-items {
          display: grid;
          grid-template-columns: repeat(2, calc(~'50% - 8px'));
          gap: 16px 16px;
        }
      }

      @media (min-width: 1200px) and (max-width: 1771px) {
        .ant-list-items {
          display: grid;
          //只有3個單元格有16px的間隔，有4個單元格，所以每個單元格長度為25%-(16*3/4)
          grid-template-columns: repeat(4, calc(~'25% - 12px'));
          gap: 16px 16px;
        }
      }

      @media (min-width: 1772px) {
        .ant-list-items {
          display: grid;
          grid-template-columns: repeat(5, calc(~'20% - 12.8px'));
          gap: 16px 16px;
        }
      }

      .ant-list-item {
        padding: 0 !important;
      }
      .ant-divider-horizontal.ant-divider-with-text::before,
      .ant-divider-horizontal.ant-divider-with-text::after {
        border-top: none;
      }
    }
  }

  .scrollableDiv::-webkit-scrollbar {
    width: 0;
  }

  .itemCard {
    // min-width: 371px;
    width: 100%;
    height: 162px;
    // margin-right: 24px;
    // margin-bottom: 24px;
    padding: 16px;
    background: #ffffff;
    border-radius: 8px;
    cursor: pointer;

    .name {
      display: flex;
      align-items: center;
      height: 44px;
      margin-bottom: 17px;

      .avatar {
        display: flex;
        width: 32px;
        height: 32px;
        margin-right: 16px;

        .avatarImg {
          width: 32px;
          height: 32px;
          border-radius: 50%;
        }

        .avatarBg {
          width: 32px;
          height: 32px;
          color: #ffffff;
          font-size: 16px;
          line-height: 32px;
          text-align: center;
          background: #1890ff;
          border-radius: 50%;
        }
      }

      .title {
        display: -webkit-box;
        width: calc(~'100% - 48px');
        max-height: 44px;
        overflow: hidden;
        color: #262626;
        font-size: 14px;
        line-height: 22px;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
      }
    }

    .line {
      height: 1px;
      margin-bottom: 16px;
      background: #f0f0f0;
    }

    .infoItem {
      display: flex;

      .label {
        width: 52px;
        height: 20px;
        margin-right: 12px;
        color: #262626;
        font-size: 12px;
        line-height: 20px;
      }

      .value {
        display: -webkit-box;
        width: calc(~'100% - 64px');
        height: 20px;
        overflow: hidden;
        color: #8c8c8c;
        font-size: 12px;
        line-height: 20px;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
      }
    }
  }
}
